<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="shoppingflux.configure" class="ShoppingFlux\Form\ConfigureForm" />
        <form name="shoppingflux.update.feed" class="ShoppingFlux\Form\FeedUrlForm" />
    </forms>

    <commands>
        <command class="ShoppingFlux\Command\GetOrdersCommand" />
    </commands>

    <services>
        <service id="shoppingflux.apicalls" class="ShoppingFlux\EventListeners\ApiCall">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
